@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?x7y7qv');
  src:  url('fonts/icons.eot?x7y7qv#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?x7y7qv') format('truetype'),
    url('fonts/icons.woff?x7y7qv') format('woff'),
    url('fonts/icons.svg?x7y7qv#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_close:before {
  content: "\e908";
}
.ic_menu_accessories:before {
  content: "\e90a";
}
.ic_menu_adult:before {
  content: "\e90c";
}
.ic_menu_auto:before {
  content: "\e910";
}
.ic_menu_avia_tickets:before {
  content: "\e912";
}
.ic_menu_books:before {
  content: "\e913";
}
.ic_menu_brand:before {
  content: "\e914";
}
.ic_menu_children:before {
  content: "\e91b";
}
.ic_menu_cosmetics:before {
  content: "\e921";
}
.ic_menu_diamond:before {
  content: "\e927";
}
.ic_menu_digital:before {
  content: "\e92f";
}
.ic_menu_discount:before {
  content: "\e934";
}
.ic_menu_drill:before {
  content: "\e938";
}
.ic_menu_electronic:before {
  content: "\e93d";
}
.ic_menu_furniture:before {
  content: "\e940";
}
.ic_menu_garden:before {
  content: "\e948";
}
.ic_menu_health:before {
  content: "\e94d";
}
.ic_menu_home:before {
  content: "\e94e";
}
.ic_menu_man:before {
  content: "\e950";
}
.ic_menu_office:before {
  content: "\e951";
}
.ic_menu_premium:before {
  content: "\e953";
}
.ic_menu_product:before {
  content: "\e954";
}
.ic_menu_review:before {
  content: "\e958";
}
.ic_menu_shoes:before {
  content: "\e95d";
}
.ic_menu_sport:before {
  content: "\e95e";
}
.ic_menu_technic:before {
  content: "\e961";
}
.ic_menu_toys:before {
  content: "\e966";
}
.ic_menu_woman:before {
  content: "\e96c";
}
.ic_menu_zoo:before {
  content: "\e96e";
}
.ic_arrow-down:before {
  content: "\e903";
}
.ic_arrow-left:before {
  content: "\e904";
}
.ic_arrow-right:before {
  content: "\e905";
}
.ic_arrow-up:before {
  content: "\e906";
}
.ic_camera:before {
  content: "\e907";
}
.ic_cart:before {
  content: "\e909";
}
.ic_map:before {
  content: "\e90b";
}
.ic_user:before {
  content: "\e911";
}
.ic_menu:before {
  content: "\e900";
}
.ic_chat:before {
  content: "\e901";
}
.ic_search:before {
  content: "\e902";
}
