// Colors
$gradient: linear-gradient(to top right, #ffba22,#ffe92d)
$gradient_accent: linear-gradient(to top right, #08adef,#10eafe)
$bg: #efefef
$accent: #ffb120
$secondary: #fcedbb
$dark: #292929
$light: #fff
$default: #eaeaea
$text: #949494
$borderColor: #eee

$radius: 16px
